---
import Head from "@components/stalux/layout/head.astro";
import Footer from "@components/stalux/layout/footer.astro";
import "@styles/base/init.css";
const props = Astro.props as Props;

export interface Props {
  title: string;
  description: string;
}
---

<!doctype html>
<html lang="zh-CN">
  <Head title={props.title} description={props.description} />
  <script>
    import "../scripts/background.ts";
  </script>
  <body class="stalux-root dark">
    <main class="stalux-main">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style></style>
